.viewport {
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
  }
  
  .viewport.zoom {
    overflow: scroll;
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    transform-origin: top left;
    user-select: none;
  }
  
  .bounding-box {
    position: absolute;
  }
  
  .page {
    position: absolute;
    backface-visibility: hidden;
  }
  
  .polygon {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    transform-origin: center left;
  }
  
  .polygon.blank {
    background-color: #fff;
  }
  
  .polygon .lighting {
    width: 100%;
    height: 100%;
  }
  
  .guard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }